*{
    box-sizing: border-box;
}

body{
    color: #fff;
    background-color: rgb(10, 12, 41);
    margin: 0 auto;
    padding: 10em;
}

.container{
    width: 90%;
    max-width: 600px;
    padding: 5em;
    margin: 0 auto;
    background-color: rgb(95, 158, 160, 0.5);
    border: solid 1px transparent;
}